* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Quicksand";
    src: url(/fonts/Quicksand-Variable.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Britney";
    src: url(/fonts/Britney-Variable.woff2) format("woff2");
    font-display: swap;
}

:root {
    font-family: "Quicksand";
    --primary-color: #3B6790;
    --secondairy-color: #FF385C;
    --light-color: #FFFFFB;
    --dark-color: #333;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: var(--light-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Britney";
    font-weight: normal;
}

p {
    font-size: 18px;
}

a, button {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

button {
    font-family: "Quicksand";
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 36px;
    line-height: 110%;
}

h2 {
    font-size: 32px;
    line-height: 107.2%;
    padding-bottom: 24px;
}

:focus {
    outline: 2px solid var(--secondairy-color);
    /* Using your yellow brand color */
    outline-offset: 3px;
    transition: outline-offset 0.2s ease;
}

/* Remove default focus outline for mouse users, but keep it for keyboard */
:focus:not(:focus-visible) {
    outline: none;
}

:focus-visible {
    outline: 2px solid var(--secondairy-color);
    outline-offset: 3px;
    transition: outline-offset 0.2s ease;
}

 /* REVEAL OVERLAY */
 .section-reveal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-color);
    z-index: 2;
    transform: translateX(0); /* Start positie: bedekt tekst */
}

@media screen and (min-width: 744px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
        padding-bottom: 28px;
    }

    p {
        font-size: 20px;
    }

    a, button {
        font-size: 18px;
    }
}

@media screen and (min-width: 1224px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 48px;
        padding-bottom: 40px;
    }

    p {
        font-size: 24px;
    }

    a, button {
        font-size: 20px;
    }
}

@media screen and (min-width: 1424px) {
    h1 {
        font-size: 72px;
    }

    p {
        font-size: 28px;
    }
}