<section class="facilities">
    <h2>Facilities</h2>
    <div class="facility-list">
        <ul>
            <li class="facility">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#e3e3e3"
                    ><path
                        d="M480-120q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM254-346l-84-86q59-59 138.5-93.5T480-560q92 0 171.5 35T790-430l-84 84q-44-44-102-69t-124-25q-66 0-124 25t-102 69ZM84-516 0-600q92-94 215-147t265-53q142 0 265 53t215 147l-84 84q-77-77-178.5-120.5T480-680q-116 0-217.5 43.5T84-516Z"
                    ></path></svg
                >
                <p>Wi-Fi</p>
            </li>
            <li class="facility">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#e3e3e3"
                    ><path
                        d="M240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h480q33 0 56.5 23.5T800-800v640q0 33-23.5 56.5T720-80H240Zm0-80h480v-640H240v640Zm240-40q83 0 141.5-58.5T680-400q0-83-58.5-141.5T480-600q-83 0-141.5 58.5T280-400q0 83 58.5 141.5T480-200Zm0-68q-26 0-50.5-9.5T386-306l188-188q19 19 28.5 43.5T612-400q0 55-38.5 93.5T480-268ZM320-680q17 0 28.5-11.5T360-720q0-17-11.5-28.5T320-760q-17 0-28.5 11.5T280-720q0 17 11.5 28.5T320-680Zm120 0q17 0 28.5-11.5T480-720q0-17-11.5-28.5T440-760q-17 0-28.5 11.5T400-720q0 17 11.5 28.5T440-680ZM240-160v-640 640Z"
                    ></path></svg
                >
                <p>Washing machine & dryer</p>
            </li>
            <li class="facility">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#e3e3e3"
                    ><path
                        d="M240-200v40q0 17-11.5 28.5T200-120h-40q-17 0-28.5-11.5T120-160v-320l84-240q6-18 21.5-29t34.5-11h440q19 0 34.5 11t21.5 29l84 240v320q0 17-11.5 28.5T800-120h-40q-17 0-28.5-11.5T720-160v-40H240Zm-8-360h496l-42-120H274l-42 120Zm-32 80v200-200Zm100 160q25 0 42.5-17.5T360-380q0-25-17.5-42.5T300-440q-25 0-42.5 17.5T240-380q0 25 17.5 42.5T300-320Zm360 0q25 0 42.5-17.5T720-380q0-25-17.5-42.5T660-440q-25 0-42.5 17.5T600-380q0 25 17.5 42.5T660-320Zm-460 40h560v-200H200v200Z"
                    ></path></svg
                >
                <p>Free parking on site</p>
            </li>
            <li class="facility">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#e3e3e3"
                    ><path
                        d="M280-80v-240h-64q-40 0-68-28t-28-68q0-29 16-53.5t42-36.5l262-116v-26q-36-13-58-43.5T360-760q0-50 35-85t85-35q50 0 85 35t35 85h-80q0-17-11.5-28.5T480-800q-17 0-28.5 11.5T440-760q0 17 11.5 28.5T480-720t28.5 11.5Q520-697 520-680v58l262 116q26 12 42 36.5t16 53.5q0 40-28 68t-68 28h-64v240H280Zm-64-320h64v-40h400v40h64q7 0 11.5-5t4.5-13q0-5-2.5-8.5T750-432L480-552 210-432q-5 2-7.5 5.5T200-418q0 8 4.5 13t11.5 5Zm144 240h240v-200H360v200Zm0-200h240-240Z"
                    ></path></svg
                >
                <p>Towels, bedding, soap & toilet paper</p>
            </li>
        </ul>
        <ul>
            <li class="facility">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#e3e3e3"
                    ><path
                        d="M520-520v-80h200v80H520Zm0-160v-80h320v80H520ZM320-120q-83 0-141.5-58.5T120-320q0-48 21-89.5t59-70.5v-240q0-50 35-85t85-35q50 0 85 35t35 85v240q38 29 59 70.5t21 89.5q0 83-58.5 141.5T320-120ZM200-320h240q0-29-12.5-54T392-416l-32-24v-280q0-17-11.5-28.5T320-760q-17 0-28.5 11.5T280-720v280l-32 24q-23 17-35.5 42T200-320Z"
                    ></path></svg
                >
                <p>Heating</p>
            </li>
            <li class="facility">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#e3e3e3"
                    ><path
                        d="M160-120v-80q-33 0-56.5-23.5T80-280v-440q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v440q0 33-23.5 56.5T800-200v80h-40l-26-80H227l-27 80h-40Zm0-160h640v-440H160v440Zm320-220Z"
                    ></path></svg
                >
                <p>TV with standard cable TV</p>
            </li>
            <li class="facility">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#e3e3e3"
                    ><path
                        d="M80-120v-80h800v80H80Zm160-160q-33 0-56.5-23.5T160-360v-280q0-33 23.5-56.5T240-720h120q0-50 35-85t85-35q50 0 85 35t35 85h120q33 0 56.5 23.5T800-640v280q0 33-23.5 56.5T720-280H240Zm440-80h40v-280h-40v280ZM420-720h120q0-26-17-43t-43-17q-26 0-43 17t-17 43ZM280-360v-280h-40v280h40Zm60-280v280h280v-280H340Zm-60 280h60-60Zm400 0h-60 60Zm-400 0h-40 40Zm60 0h280-280Zm340 0h40-40Z"
                    ></path></svg
                >
                <p>Luggage storage allowed</p>
            </li>
            <li class="facility">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#e3e3e3"
                    ><path
                        d="M80-240v-120q0-66 47-113t113-47h360v-40q0-17-11.5-28.5T560-600H400q-17 0-28.5 11.5T360-560h-80q0-50 35-85t85-35h160q50 0 85 35t35 85v160q17 0 28.5-11.5T720-440v-160q0-50 35-85t85-35h40v80h-40q-17 0-28.5 11.5T800-600v160q0 50-35 85t-85 35v80H80Zm80-80h440v-120H240q-33 0-56.5 23.5T160-360v40Zm440 0v-120 120Z"
                    ></path></svg
                >
                <p>Iron & hair dryer</p>
            </li>
        </ul>
    </div>
</section>

<style>
    .facilities {
        padding: 0 25px 200px;
    }

    .facilities ul {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .facilities ul:nth-of-type(1) {
        margin-bottom: 18px;
    }

    .facility {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    p {
        font-size: 16px;
    }

    .facility svg {
        fill: #333;
    }

    @media screen and (min-width: 400px) {
        p {
            font-size: 18px;
        }
    }

    @media screen and (min-width: 544px) {
        .facilities {
            padding: 0 40px;
            /* max-width: 90%; */
        }
    }

    @media screen and (min-width: 636px) {
        .facilities ul:nth-of-type(1) {
            margin-bottom: 0;
        }

        .facilities ul:nth-of-type(2) {
            margin-left: 16px;
        }

        .facility-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 700px;
        }

        p {
            font-size: 16px;
        }
    }

    @media screen and (min-width: 1024px) {
        .facilities {
            padding: 0 80px;
        }
    }

    @media screen and (min-width: 1224px) {
        .facilities {
            padding: 0 120px;
        }
    }
</style>
