<section class="safety">
    <h2>Safety</h2>
    <div class="safety-list">
        <ul>
            <li>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#e3e3e3"
                    ><path
                        d="m520-68-76-24 16-52q6-24 4-46.5T448-236q-25-38-31.5-78.5T424-400l16-52 76 24-16 52q-8 23-5 47.5t17 44.5q23 38 30.5 80t-6.5 84l-16 52Zm-176 0-76-24 16-52q6-23 4-47t-16-45q-26-37-32-79t8-85l16-52 76 24-16 52q-8 23-5 48t17 44q24 36 31 79.5t-7 84.5l-16 52Zm348 0-76-24 16-52q6-23 4-47t-16-45q-26-37-32-79t8-85l16-52 76 24-16 52q-8 24-5 47.5t17 44.5q24 38 30.5 80t-6.5 84l-16 52ZM200-760v40h560v-40H200Zm124 120 12 40h288l12-40H324Zm12 120q-26 0-47-15.5T260-576l-20-64h-40q-33 0-56.5-23.5T120-720v-120h720v120q0 33-23.5 56.5T760-640h-40l-26 68q-9 23-29 37.5T620-520H336ZM200-760v40-40Z"
                    ></path></svg
                >
                <p>Smoke detector</p>
            </li>
            <li>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#e3e3e3"
                    ><path
                        d="M480-120q-88 0-168.5-33T169-249l57-57q51 51 117 78.5T481-200q72 0 137.5-27T735-305l56 56q-63 63-143 96t-168 33Zm0-160q-56 0-107-21t-91-61l56-56q29 29 65.5 43.5T480-360q40 0 76.5-14.5T622-418l56 56q-40 40-91 61t-107 21ZM200-760v40h560v-40H200Zm124 120 12 40h288l12-40H324Zm12 120q-26 0-47-15.5T260-576l-20-64h-40q-33 0-56.5-23.5T120-720v-120h720v120q0 33-23.5 56.5T760-640h-40l-26 68q-9 23-29 37.5T620-520H336ZM200-760v40-40Z"
                    ></path></svg
                >
                <p>Carbon monoxide detector</p>
            </li>
        </ul>
        <ul>
            <li>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#e3e3e3"
                    ><path
                        d="M279-240v-241l10-39h380l10 39v241H279Zm81-200v120h240v-120H360Zm119-281q17 0 28.5-11.5T519-761q0-17-11.5-28.5T479-801q-17 0-28.5 11.5T439-761q0 17 11.5 28.5T479-721Zm161-17v-46l-42 8q1 4 1 7.5v15q0 3.5-1 7.5l42 8ZM279-481q0-63 35-113t91-72q-11-8-19.5-18.5T371-708l-171-33v-40l171-33q15-30 43.5-49t64.5-19q23 0 44 9t37 23l160-31v240l-160-31q-2 2-3.5 3t-3.5 3q56 22 91 72t35 113h-79q0-50-35-84.5T480-600q-50 0-85 34.5T360-481h-81Zm80 401q-33 0-56.5-23.5T279-160v-80h81v80h240v-80h79v80q0 33-23.5 56.5T599-80H359Z"
                    ></path></svg
                >
                <p>Fire extinguisher</p>
            </li>
            <li>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#e3e3e3"
                    ><path
                        d="M160-80q-33 0-56.5-23.5T80-160v-480q0-33 23.5-56.5T160-720h160v-80q0-33 23.5-56.5T400-880h160q33 0 56.5 23.5T640-800v80h160q33 0 56.5 23.5T880-640v480q0 33-23.5 56.5T800-80H160Zm0-80h640v-480H160v480Zm240-560h160v-80H400v80ZM160-160v-480 480Zm280-200v120h80v-120h120v-80H520v-120h-80v120H320v80h120Z"
                    ></path></svg
                >
                <p>First aid kit</p>
            </li>
        </ul>
    </div>
</section>

<style>
    .safety {
        padding: 0 25px 200px;
    }

    .safety ul {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .safety ul:nth-of-type(1) {
        margin-bottom: 18px;
    }

    .safety li {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    p {
        font-size: 16px;
    }

    .safety svg {
        fill: #333;
    }

    @media screen and (min-width: 400px) {
        p {
            font-size: 18px;
        }
    }

    @media screen and (min-width: 544px) {
        .safety {
            padding: 0 40px 200px;
            /* max-width: 90%; */
        }

        .safety ul {
            gap: 24px;
        }

        .safety ul:nth-of-type(1) {
            margin-bottom: 24px;
        }

        .safety-list {
            gap: 20px;
        }

        .safety-list svg {
            width: 28px;
            height: auto;
        }
    }

    @media screen and (min-width: 636px) {
        .safety-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 700px;
        }

        .safety ul:nth-of-type(1) {
            margin-bottom: 0;
        }

        .safety ul:nth-of-type(2) {
            margin-left: 16px;
            min-width: 267px;
        }

        p {
            font-size: 16px;
        }
    }

    @media screen and (min-width: 744px) {
        p {
            font-size: 18px;
        }
    }

    @media screen and (min-width: 1024px) {
        .safety {
            padding: 0 80px 0 40px;
        }

        .safety-list {
            flex-direction: column;
            justify-content: space-between;
            max-width: 700px;
        }

        .safety ul:nth-of-type(2) {
            margin-left: 0;
            min-width: none;
        }

        p {
            font-size: 16px;
        }

        .safety-list svg {
            width: 24px;
        }
    }

    @media screen and (min-width: 1238px) {
        .safety {
            padding: 0 120px 0 80px;
        }
    }

    @media screen and (min-width: 1300px) {
        p {
            font-size: 18px;
        }

        .safety-list svg {
            width: 28px;
        }
    }

    @media screen and (min-width: 1467px) {
        .safety {
            padding: 0 200px 0 160px;
        }

        p {
            font-size: 20px;
        }

        .safety-list svg {
            width: 30px;
        }

        .safety li {
            white-space: nowrap;
        }
    }
</style>
