---
import BackgroundTexture from "../components/atoms/backgroundTexture.astro";
import Footer from "../components/molecules/footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>Charming apartment</title>
		<link rel="stylesheet" href="/css/global.css" />
	</head>
	<body>
		<BackgroundTexture />
		<slot />
		<Footer />

		<script>
			import Lenis from "lenis";

			// Start Lenis na splash screen (3.5 seconden)
			setTimeout(() => {
				const lenis = new Lenis({
					duration: 1.5, // Optioneel: pas smoothness aan
					easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
				});

				function raf(time: number) {
					lenis.raf(time);
					requestAnimationFrame(raf);
				}

				requestAnimationFrame(raf);
			}, 3500);
		</script>
	</body>
</html>
